<ion-view view-title="Laporan">
  <ion-content class="padding">

      <button ng-click="lapor()" class="button button-energized button-full">Buat Laporan</button>
      <!--<div class="item item-divider">Recent Updates</div>-->
      <!--<div class="item item-body">-->
        <!--<div>-->
          <!--There is a fire in <b>sector 3</b>-->
        <!--</div>-->
      <!--</div>-->

    <div class="list card">
      <div class="item item-divider assertive-bg">Belum Terkirim</div>
      <div class="item item-body">
        <ion-item>

        </ion-item>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider balanced-bg">Terkirim</div>
      <div class="item item-body">
        <ion-item class="item-thumbnail-left" ng-repeat="item in items" href="#/tab/dash/{{item.id}}">
          <img ng-src="{{item.gambar}}">
          <h2>{{item.nama}} - {{item.tgl_lapor}} </h2>
          <p><label>{{isVerifikasi(item.verifikasi)}}</label></p>

        </ion-item>
      </div>
    </div>
  </ion-content>
</ion-view>
